<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is me. I make digital things">
        <meta name="author" content="Corey Dutson">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link type="text/plain" rel="author" href="{{ SITEURL }}/theme/humans.txt" />

        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <script type='text/javascript' src='//code.jquery.com/jquery-1.11.3.min.js'></script>
        {% assets filters="jsmin", output="js/head.min.js", "js/modernizr-min.js" %}
            <script type='text/javascript' src='{{ SITEURL }}/{{ ASSET_URL }}'></script>
        {% endassets %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic|Varela+Round' rel='stylesheet' type='text/css'>
    
        {% assets filters="cssmin", output="css/style.min.css", "css/pygment.css", "css/s.css" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        {# comment
        {% assets filters="sass, cssmin", output="css/themes.min.css", "css/styles.sass", "css/themes.sass" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        #}
        {% endblock head %}
</head>

<body id="index" class="{% block theme %}{% endblock %}">

    <div id="pageWrap">

        <header id="header">
            <div class='site-title '><a class='pulse' href="{{ SITEURL }}">Wall Of Scribbles</a></div>
            <div class='site-tagline'>This is me. I make digital things.</div>
            <nav id="mainNavigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/archives.html">Writing</li>
                    <li><a href="/pages/portfolio.html">Portfolio</a></li>
                </ul>
            </nav>
        </header>
        <div id="contentWrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    {% assets filters="jsmin", output="js/footer.min.js", "js/plugins.js", "js/general.js" %}
        <script type='text/javascript' src='{{ SITEURL }}/{{ ASSET_URL }}'></script>
    {% endassets %}
    <script>
        $(document).ready(function() {
            WOS.UI.init();
            {% block extra_doc_js %}    
            {% endblock %}
        });
    </script>
    {% block extra_js %}    
    {% endblock %}
</body>
</html>
