<footer id="footer">
    <div class="footer-stuff">
        <nav id="externalLinks">
            <h2>Where you can find me online</h2>
            <ul>
                <li><a href="http://www.twitter.com/cdutson"><i class="fa fa-twitter-square"></i><span>Twitter</span></a></li>
                <li><a href="http://dutsoninlondon.tumblr.com"><i  class="fa fa-tumblr-square"></i><span>Tumblr</span></a></li>
                <li><a href="http://www.flickr.com/photos/corey_dutson"><i class="fa fa-flickr"></i><span>Flickr</span></a></li>
                <li><a href="http://www.linkedin.com/in/coreydutson"><i class="fa fa-linkedin-square"></i><span>LinkedIn</span></a></li>
                <li><a href="https://github.com/cdutson"><i class="fa fa-github-square"></i><span>Github</span></a></li>
                <li><a href="http://steamcommunity.com/id/cdutson"><i class="fa fa-steam-square"></i><span>Steam</span></a></li>
                <li><a href="http://www.behance.net/coreydutson"><i class="fa fa-behance-square"></i><span>Behance</span></a></li>
            </ul>
        </nav>

        <nav id="extraLinks">
            <h2>I don't have icons for these links</h2>
            <ul>
                <li class="goodreads"><a href="http://www.goodreads.com/user/show/1198481">Goodreads</a></li>
                <li class="prints"><a href="http://printsbydutson.com">Prints by Dutson</a></li>
            </ul>
        </nav>
        
        <p class="copy">© Corey Dutson, {{ CURRENT_DATE.year }}.<br/>Built using <a href="http://getpelican.com/">Pelican</a></p>
    </div>
</footer>