{% extends "base.html" %}
{% block content %}
<section class="postList">
    <header class="side-header">
        <h1>&lsquo;{{tag}}&rsquo; posts{% if articles_page.has_previous() or articles_page.has_next() %}, page {{articles_page.number}}{% endif %}</h1>
    </header>
    {% include 'article-summary-list.html' %}
</section><!-- /#content -->
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}